<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1200px">
        <form #formCadastrto class="mt-60" (ngSubmit)="salvar()">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Dados do Cliente:</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="60%">
                            <mat-form-field class="full-width">
                                <mat-label>Nome: </mat-label>
                                <input type="text" placeholder="Digite o nome" matInput required [(ngModel)]="cliente.nome" name="nome">
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="40%">
                            <mat-form-field class="full-width">
                                <mat-label>CPF: </mat-label>
                                <input type="text" placeholder="Digite o CPF" matInput required [(ngModel)]="cliente.cpf" name="cpf">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="40%">
                            <mat-form-field class="full-width">
                                <mat-label>E-mail: </mat-label>
                                <input type="email" placeholder="Digite o e-mail" matInput required [(ngModel)]="cliente.email" name="email">
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxFlex="20%">
                            <mat-form-field class="full-width">
                                <mat-label>Data de Nascimento: </mat-label>
                                <input type="text" placeholder="Digite a Data de Nascimento" matInput required [(ngModel)]="cliente.dataNascimento" name="dataNascimento">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions fxLayoutGap="10px">
                    <button mat-flat-button color="primary" type="submit">
                        <mat-icon fontIcon="save"></mat-icon>
                        Salvar
                    </button>
                    <button mat-flat-button color="primary" type="edit">
                        <mat-icon fontIcon="refresh"></mat-icon>
                        Atualizar
                    </button>
                    <button mat-flat-button color="accent" type="reset">
                        <mat-icon fontIcon="cleaning_services"></mat-icon>
                        Limpar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
